// Main container for the FavBadge component.
.fav-badge {
  position: relative;
  cursor: pointer;
  margin-right: 150px;
  order: 4;

  // Change the default scale to make the heart icon bigger
  transform: scale(1.7);

  // Enlarge the heart icon even more on hover.
  &:hover {
    transform: scale(1.9); // Enlarging the heart icon on hover.
    transition: transform 0.3s; // Smoothens the transition

    // Targeting the SVG on hover of fav-badge
    svg {
      fill: red;
      transition: fill 0.3s; // Add transition for a smooth color change
    }
  }
}

// Badge count style, typically indicating the number of liked photos.
.fav-badge__count {
  background-color: yellow;
  width: 10px; // Making the alert ball smaller
  height: 10px; // Making the alert ball smaller
  border-radius: 50%;
  border: 2px solid red;
  position: absolute;
  top: 0%;
  right: 0%;
  left: 75%; // Adjusting the position due to change in size
  bottom: 65%; // Adjusting the position due to change in size

  // Styles for the span containing the count.
  span {
    text-align: center;
    color: black;
    width: 100%;
    font-weight: 500;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 9px; // Adjusting font size to fit the smaller ball
  }
}
