//frontend/src/styles/FavBadge.scss

// Keyframe animation for pulsing effect on hover.
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(
      1.2
    ); // You can adjust this to control the magnitude of the pulse.
  }
  100% {
    transform: scale(1);
  }
}

// Main container for the FavBadge component.
.fav-badge {
  position: relative;
  cursor: pointer;
  margin-right: -24px; // Adjusts position relative to its sibling components
  order: 4; // Adjusts ordering among flex items

  // Scaling properties
  transform: scale(1.7); // Default scale to enlarge the heart icon
  transition: transform 0.3s; // Smooth transition for scaling

  // Enlarge heart icon on hover
  &:hover {
    transform: scale(1.9);

    // Change SVG color on hover
    svg {
      fill: red;
      animation: pulse 0.6s infinite;
      transition: fill 0.3s; // Smooth transition for fill color change
    }
  }
}

// Badge count style, indicating the number of liked photos.
.fav-badge__count {
  position: absolute;
  top: 0%;
  right: 0%;
  left: 75%; // Adjusted to place the badge relative to the heart icon
  bottom: 65%; // Adjusted to place the badge relative to the heart icon

  width: 10px;
  height: 10px;
  background-color: rgb(248, 248, 88);
  border-radius: 50%;
  border: 2px solid red;

  // Centered count within the badge
  span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); // Perfectly center the text

    width: 100%;
    font-size: 9px; // Fits the text within the small badge
    font-weight: 500;
    text-align: center;
    color: black;
  }
}

.fav-badge.has-favorites {
  svg {
    animation: pulse 0.6s infinite;
  }
}
