//frontend/src/styles/PhotoFavButton.scss

// Styling for the favorite icon container
.photo-list__fav-icon {
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 2rem;
  height: 2rem;
  z-index: 1;
  user-select: none;

  // Styling for the favorite icon's button
  &-svg {
    padding: 0.4375rem;
    top: 0.125rem;
    background-color: rgba(238, 238, 238, 0.8);
    border: none; // Removes default button border
    border-radius: 95%; // Makes the button round
    cursor: pointer; // Hand pointer on hover
    width: 2rem;
    height: 2rem;

    // Removes button focus styles which can be distracting
    &:focus {
      outline: none;
      box-shadow: none;
    }

    circle {
      position: absolute;
      top: -0.3125rem;
      right: -0.3125rem;
      z-index: 2;
    }
  }
}
