//frontend/src/styles/TopNavigationBar.scss

// Main styling for the top navigation bar
.top-nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px 50px; // Adjusted horizontal padding for spacing
  align-items: center;

  // Cross-browser box-shadow for subtle depth
  -webkit-box-shadow: 0 4px 6px -6px #222;
  -moz-box-shadow: 0 4px 6px -6px #222;
  box-shadow: 0 4px 6px -6px #222;

  height: 72px;
  flex-wrap: nowrap; // Ensure items stay in a single line
  margin-left: -40px; // Offset for alignment

  // Dark mode specific styles
  &.dark-mode {
    background-color: #333;
    color: #fff;

    // Nested styles for items in dark mode
    .top-nav-bar__topic-list {
      span {
        color: #fff; // Making sure text is visible in dark mode
      }

      // Hover state for topic list items in dark mode
      .topic-list__item:hover {
        span {
          color: #ddd;
        }
      }
    }

    // Add styles for the FontAwesomeIcon
    .top-nav-bar__logo-icon {
      color: #000000;
      margin-right: 8px;
    }
    // Styles for button in dark mode
    button.icon-button {
      background: none;
      border: none;
      padding: 0;
      cursor: pointer;
      outline: inherit;

      // Hover and focus styles
      &:hover,
      &:focus {
        opacity: 0.7;
      }
    }
  }

  // General styles for the button
  button.icon-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: inherit;

    // Hover and focus styles
    &:hover,
    &:focus {
      opacity: 0.7;
    }
  }
}

// Styles specific to modals in dark mode
.dark-mode .modal {
  background-color: #444;
  color: #eee;

  // Header styles for modal
  .modal-header {
    background-color: #555;
    border-bottom: 1px solid #666;
  }

  // Body styles for modal
  .modal-body {
    background-color: #444;
  }

  // Footer styles for modal
  .modal-footer {
    background-color: #555;
    border-top: 1px solid #666;
  }

  // Styles for buttons, links, and generic buttons in the modal
  button,
  a,
  .btn {
    background-color: #555;
    color: #ddd;

    // Hover state for buttons
    &:hover {
      background-color: #666;
    }
  }
}

// Another set of dark mode styles
.dark-mode {
  background-color: #111;
  color: #eee;

  // Making sure logo and signature are visible in dark mode
  .top-nav-bar__logo,
  .mySignature {
    color: #fff;
  }
}

// Logo specific styles
.top-nav-bar__logo {
  order: 1;
  font-size: 2rem;
  margin-right: -2px;
  text-decoration: overline;
}

// Signature specific styles
.mySignature {
  order: 2;
  font-size: 1rem;
  margin-left: 10px;
  margin-right: 50px;
}

// Styles for icon button
.icon-button {
  order: 3;
  padding: 8px;
}

// Styles for the topic list in the navigation bar
.top-nav-bar__topic-list {
  order: 4;
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

// Styles for the favorite badge
.fav-badge {
  order: 5;
  margin-left: auto;
  margin-right: 140px;
}

// Responsive styles for screens up to 768px
@media (max-width: 768px) {
  .top-nav-bar {
    padding: 8px 20px; // Reduce horizontal padding for smaller screens
    flex-wrap: wrap; // Allow items to wrap to the next line if they don't fit

    // Reduce font size for a more consistent appearance on smaller screens
    .top-nav-bar__logo {
      font-size: 1.5rem;
      margin-right: 0;
      flex: 100%; // Let the logo take the full width and move to its own line
    }

    .mySignature {
      font-size: 0.8rem;
      margin-left: 10px;
      margin-right: 10px;
      flex: 100%; // Let the signature take the full width and move to its own line
    }

    .top-nav-bar__topic-list {
      gap: 8px; // Reduce the gap between topics for smaller screens
    }
  }
}
