//frontend/src/styles/TopNavigationBar.scss

.top-nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px 50px; // adjust horizontal padding
  align-items: center;
  -webkit-box-shadow: 0 4px 6px -6px #222;
  -moz-box-shadow: 0 4px 6px -6px #222;
  box-shadow: 0 4px 6px -6px #222;
  height: 72px;
  flex-wrap: nowrap;
  margin-left: -40px;

  &.dark-mode {
    background-color: #333;
    color: #fff;

    .top-nav-bar__topic-list {
      span {
        color: #fff;
      }

      .topic-list__item:hover {
        span {
          color: #ddd;
        }
      }
    }

    button.icon-button {
      background: none;
      border: none;
      padding: 0;
      cursor: pointer;
      outline: inherit;

      &:hover,
      &:focus {
        opacity: 0.7;
      }
    }
  }

  button.icon-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: inherit;

    &:hover,
    &:focus {
      opacity: 0.7;
    }
  }
}

.dark-mode .modal {
  background-color: #444;
  color: #eee;

  .modal-header {
    background-color: #555;
    border-bottom: 1px solid #666;
  }

  .modal-body {
    background-color: #444;
  }

  .modal-footer {
    background-color: #555;
    border-top: 1px solid #666;
  }

  button,
  a,
  .btn {
    background-color: #555;
    color: #ddd;

    &:hover {
      background-color: #666;
    }
  }
}

.dark-mode {
  background-color: #111;
  color: #eee;

  .top-nav-bar__logo,
  .mySignature {
    color: #fff; // Ensuring they're white in dark mode
  }
}

.top-nav-bar__logo {
  order: 1;
  font-size: 2rem;
  margin-right: -2px;
  text-decoration: overline;
}

.mySignature {
  order: 2;
  font-size: 1rem;
  margin-left: 10px;
  margin-right: 50px;
}

.icon-button {
  order: 3;
  padding: 8px;
}

.top-nav-bar__topic-list {
  order: 4;
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.fav-badge {
  order: 5;
  margin-left: auto;
  margin-right: 140px;
}

// @media (max-width: 768px) {
//   .top-nav-bar {
//     padding: 8px 20px;
//   }

//   .top-nav-bar__logo,
//   .mySignature,
//   .top-nav-bar__topic-list span {
//     font-size: XXXX
//   }
// }
